.cell {
  position: relative;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.cell-text {
  font-size: 25px;
}

.disabled {
  .cell {
    background-color: lightgray;
  }
}

.cell.filled {
  background-color: #dce5f5;
  pointer-events: none;
}
